.git/
.github/
.local/
terraform/.terraform/
terraform/.external_modules/
terraform/*.tfstate
terraform/*.tfstate.*
terraform/*.tfplan
terraform/tfplan
terraform/backend.json

**/.external_modules
**/.DS_Store
